#contact {
    width: 50%;
    margin: auto;
}

.custom-link {
    display: flex; 
    justify-content: center; 
    gap: 3rem;
    margin-bottom: 50px;
}

.custom-link svg {
    fill: white;
    width: 4rem;
    height: 4rem;
}


.custom-link a svg {
    transition: all 0.3s ease;
}

.spacer {
    margin-bottom: 50px; /* Adjust this value as needed */
}
